body {
    font-family: Arial, sans-serif;
    background-color: #F3E8D3;
    color: #4A3428;
    margin: 0;
}

.book-card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0, 0, 0.1);
}

header {
    background-color: #7A263A;
    color: #FFF9EF;
    text-align: center;
    padding: 30px;
}

.library-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

#books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}